body {
  padding: 0px;
  margin: 0px;
  background: white;
  overflow-x: hidden;
}

::selection {
  background: #333333;
  color: white;
}

::-webkit-selection {
  background: #333333;
  color: white;
}

/* Parte 1 */
.cabecario {
  animation-name: animacaocabecario;
  animation-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
  height: 9vh;
  padding-right: 10%;
  padding-left: 4.5vw;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  border-bottom: 2px solid;
  background-color: rgba(245, 245, 245, 1.0);
}

@keyframes animacaocabecario {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-logo {
  display: flex;
  margin-right: 53vw;
}

.logo {
  margin: 0;
  padding: 0;
}

.desenvolvedor {
  margin: 0;
  padding: 0vh 0vw 0vh 0.5vw;
  font-weight: lighter;
  border-left: 1px solid;
}

.barra1, .barra2, .barra3 {
  margin: 1vh 0vw 1vh 0vw;
  padding: 0;
  background-color: black;
  height: 2px;
  width: 30px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
}

.nav-desktop {
  display: flex;
}

.inicio-desktop, .portifolio-desktop, .contato-desktop {
  margin: 0px 30px;
  transition: color 0.5s ease;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.inicio-desktop:hover, .portifolio-desktop:hover, .contato-desktop:hover {
  color: rgba(150, 150, 150, 1.0);
  border-width: 5px;
}

.inicio-desktop::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.4s ease;
}

.inicio-desktop:hover::after {
  width: 3%; 
}

.portifolio-desktop::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.4s ease;
}

.portifolio-desktop:hover::after {
  width: 4.5%; 
}

.contato-desktop::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.4s ease;
}

.contato-desktop:hover::after {
  width: 4.2%;
}

.nav-mobile {
  display: none;
}

/* Parte 2 */
.secao1 {
  margin: 6.5vw 0vw 8vw 0vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: black;
  text-decoration: none;
}

.foto-minha2 {
  margin-right: 6vw;
  border: 3px solid; /* Define a largura da borda */
  border-image: linear-gradient(45deg, #000000, #2e2e2e) 1;
  animation-name: animacaofotominha2;
  animation-duration: 1s;
}

@keyframes animacaofotominha2 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.encontre {
  font-family: "Gantari", sans-serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  animation-name: animacaoencontre;
  animation-duration: 1s;
}

@keyframes animacaoencontre {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contatar {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  width: 30vw;
  font-size: 1.5em;
  text-align: right;
  font-weight: 200;
  animation-name: animacaocontatar;
  animation-duration: 1s;
}

@keyframes animacaocontatar {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.minhas-redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 10px;
  margin: 1vh 0vw 0vh 1vw;
}

.meu-linkedin, .meu-github, .meu-gmail, .meu-indeed  {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2vh 0vw 2vh 2vw;
}

.meu-linkedin {
  animation-name: animacaomeulinkedin;
  animation-duration: 1.2s;
}

@keyframes animacaomeulinkedin {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.meu-github {
  animation-name: animacaomeugithub;
  animation-duration: 1.6s;
}

@keyframes animacaomeugithub {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.meu-indeed {
  animation-name: animacaomeuindeed;
  animation-duration: 2s;
}

@keyframes animacaomeuindeed {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.meu-gmail {
  animation-name: animacaomeugmail;
  animation-duration: 2.4s;
}

@keyframes animacaomeugmail {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.linkedin-texto, .github-texto, .gmail-texto, .indeed-texto {
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  width: 6.3vw;
}

.linkedin-imagem, .github-imagem, .gmail-imagem, .indeed-imagem {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.tooltip-dinamico {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  white-space: nowrap;
  pointer-events: none;
  font-family: sans-serif;
}

.linkedin-imagem:hover, .github-imagem:hover, .gmail-imagem:hover, .indeed-imagem:hover {
  transform: scale(1.2);
}

/* Parte 3 */
.secao2 {
  margin: 10vh 0vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mande {
  font-family: "Gantari", sans-serif;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.mande.active {
  opacity: 1;
  transform: translateY(0);
}

.detalhes {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  width: 60vw;
  font-size: 1.5em;
  text-align: right;
  font-weight: 200;
  text-align: center;
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 0.6s ease, transform 0.8s ease;
}

.detalhes.active {
  opacity: 1;
  transform: translateY(0);
}

.form {
  width: 70vw;
  font-size: 1.125rem;
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 5vh 0vw 0vh 0vw;
}

.mensagem {
  width: 1200vw;
  margin: 0;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease, transform 0.8s ease;
}

.mensagem.active {
  opacity: 1;
  transform: translateX(0);
}

.nome-email {
  display: flex;
  flex-direction: column;
  width: 1200vw;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease, transform 0.8s ease;
}

.nome-email.active {
  opacity: 1;
  transform: translateX(0);
}

.form label,
.form button {
  display: grid;
  width: 95%;
}

.form textarea {
  width: 100%;
  font: inherit;
  padding: 11px;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: border-color, box-shadow 0.5s;
}

.form input {
  display: grid;
  width: 90%;
}

.form label {
  color: black;
  line-height: 1;
  margin-bottom: 1rem;
}

.form input {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: border-color, box-shadow 0.5s;
}

.form textarea {
  min-height: 8.55rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #2e2e2e;
  box-shadow: 0 0 0 3px #6e6e6e;
}

.form button {
  display: flex;
  padding: 1rem;
  width: 10vw;
  align-items: center;
  justify-content: center;
  background: rgba(230, 230, 230, 1.0);;
  color: black;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.form button:hover,
.form button:focus {
  filter: invert(100%);
}

/* Parte 4 */
footer {
  background-color: #bababa;
  color: #2e2e2e;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: "Gantari", sans-serif;
}

.rodape {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
}

.inicio-footer, .portifolio-footer, .contato-footer {
  margin: 0px;
  padding: 0;
  transition: color 0.5s ease;
  display: flex;
  color: black;
  cursor: pointer;
  text-decoration: none;
}


.inicio-footer:hover, .portifolio-footer:hover, .contato-footer:hover {
  color: #545c66;
}

.inicio-footer::after, .portifolio-footer::after {
  content: '|';
  margin: 0px 10px 0px 0px;
  padding: 0;
}

.textos-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
}

.texto-footer1, .texto-footer2 {
  margin: 5px 0px;
}

.texto-footer2 {
  text-decoration: underline;
}

.rolagemparaoinicio {
  padding: 10px 15px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
  font-family: "Gantari", sans-serif;
}

.rolagemparaoinicio:hover {
  filter: invert(1);
}

@media screen and (max-width: 1020px) {
    body.no-overflow {
    overflow: hidden;
  }

  .btmenumobile {
    padding: 2vw;
  }

  .inicio-desktop, .portifolio-desktop, .contato-desktop {
    display: none;
  }

  .barra1, .barra2, .barra3 {
    display: flex;
    opacity: 1;
  }

  .cabecario {
    margin: 0;
    padding: 0;
  }

  .nav-mobile {
    display: flex;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 0vh;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
    line-height: 90px;
    font-size: 3em;
    overflow: hidden;
  }

  .btmenumobile {
    position: relative;
    z-index: 9999999999999;
    transition: transform 0.3s ease;
  }

  .btmenumobile .barra1.ativo1 {
    background-color: white;
  }

  .btmenumobile .barra2.ativo2 {
    background-color: white;
  }

  .btmenumobile .barra3.ativo3 {
    background-color: white;
  }

  #btmenumobile.rotated {
    transform: rotate(90deg); /* Rotação de 45 graus */
  }

  .nav-mobile {
    transition: all 0.6s ease;
    z-index: 99999;
  }

  .nav-mobile.abrir {
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .inicio-mobile, .portifolio-mobile, .contato-mobile {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    transition: all 0.3s ease;
    margin: 0vh 0vw;
  }

  .inicio-mobile:hover, .portifolio-mobile:hover, .contato-mobile:hover {
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  }
  
  .container-logo {
    margin-right: 50vw
  }

  .desenvolvedor {
    padding: 0vh 0vw 0vh 1.5vw
  }
  
  .secao1 {
    margin: 5vh 0vw;
  }
  
  .minhas-redes {
    margin: 0vh -3vw 0vh 2vw;
    padding: 0;
  }

  .foto-minha2 {
    display: none;
  }

  .redes {
    align-items: center;
  }

  .contatar {
    text-align: center;
    font-size: 1.3em;
    width: 90%;
    margin: 2vh 0vw;
  }

  .linkedin-texto, .github-texto, .indeed-texto, .gmail-texto {
    font-size: 1.3em;
  }

  .linkedin-imagem, .github-imagem, .indeed-imagem, .gmail-imagem {
    width: 70px;
    height: 70px;
  }

  .meu-linkedin, .meu-indeed {
    margin: 0vh 15vw 0vh 6vw
  }

  .meu-gmail, .meu-github  {
   margin: 0vh 2vw 0vh 2vw
 }

  .gmail-texto {
    width: 4vw;
  }
  
  .secao2 {
    margin: 10vh 5vw;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .nome-email {
    margin-right: 4vw
  }

  .detalhes {
    text-align: center;
    font-size: 1.em;
    width: 90%;
    margin: 2vh 0vw;
  }

  .mensagem {
    margin: 0px 0px 0px 4vw;
  }

  .form button {
    width: 20vw;
    display: flex;
  }

  .rodape {
    display: none;
  }

  .texto-footer1 {
    display: none;
  }

  .botaoparacima {
    display: none;
  }
}

